---
layout: base.njk
title: Программы
permalink: /program/
sectionStyles:
  - /assets/css/sections/bp-shared.css
  - /assets/css/sections/offers.css
  - /assets/css/sections/mentoring.css
  - /assets/css/sections/neuro.css
---
{% include "sections/offers.njk" %}
{% include "sections/mentoring.njk" %}
{% include "sections/neuro.njk" %}
{% include "sections/razbor.njk" %}
{% include "partials/gc-modals.njk" %}
