<header class="site-header">
  <a class="site-header__logo" href="/">GetPublishED</a>
  <nav class="site-header__nav">
    <a href="/program/">Программы</a>
    <a href="/cases/">Кейсы</a>
    <a href="/articles/">Статьи</a>
    <a href="/reviews/">Отзывы</a>
  </nav>
  <a class="site-header__cta" href="#">Закажите звонок</a>
</header>
