<header class="site-header">
  <div class="container site-header__inner">
    <a class="site-header__brand" href="/">
      <img src="/assets/img/logo.png" alt="GetPublishED" width="938" height="176">
    </a>

    <nav class="site-header__nav">
      <a href="/program/">Программы</a>
      <a href="/cases/">Кейсы</a>
      <a href="/articles/">Статьи</a>
      <a href="/reviews/">Отзывы</a>
    </nav>

    <a class="btn site-header__cta" href="tel:+79163044883">заказать звонок</a>

    <button class="site-header__burger" type="button" aria-label="Меню" aria-expanded="false">
      <span></span><span></span><span></span>
    </button>
  </div>
</header>
